<a href="https://colab.research.google.com/github/txc-000/machine-learning/blob/main/phyton2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a=int(input("Sample input: "))
print("Expected output: ", a>=100)

Sample input: 101
Expected output:  True

In [3]:
bil = int(input("Masukan bilangan bulat: "))

if(bil%2 == 0):
    print("genap")
else:
    print("ganjil")

Masukan bilangan bulat: 15
ganjil

In [4]:
print("Masukan nilai koordinat")
x = int(input("Nilai x: "))
y = int(input("Nilai y: "))

if x>0 and y>0:
    print("Koordinat ("+ str(x) + ","+ str(y) +") berada pada Kuadran I" )
elif x<0 and y>0:
    print("Koordinat ("+ str(x) + ","+ str(y) +") berada pada Kuadran II" )
elif x<0 and y<0:
    print("Koordinat ("+ str(x) + ","+ str(y) +") berada pada Kuadran III" )
elif x>0 and y<0:
    print("Koordinat ("+ str(x) + ","+ str(y) +") berada pada Kuadran IV" )
else:
    pass

Masukan nilai koordinat
Nilai x: 3
Nilai y: 5
Koordinat (3,5) berada pada Kuadran I

In [5]:
num1 = int(input("First Number : "))
num2 = int(input("Second Number : "))
num3 = int(input("Third Number : "))

#set number1 sebagai yang terbesar
largestNum = num1

#deteksi apakah num2 > num1
if num2 > largestNum:
    largestNum = num2

#deteksi apakah num3 > num2
if num3 > largestNum:
    largestNum = num3

print("The largest number is: ", largestNum)

First Number : 9
Second Number : 5
Third Number : 7
The largest number is:  9

In [9]:
plant = input("Please input a best plant = ")

if plant == "grass":
    print("Yes - grass is the best plant ever!")
elif plant == "leaf":
    print("No, I want a big grass!")
else:
    print("grass! Not "+ plant +"!")

Please input a best plant = grass
Yes - grass is the best plant ever!

In [10]:
income = float(input("Enter the annual income: "))
tax = 0

if income<85528:
    tax = 0.18 * income - 556.2
else:
    tax = 14839 + 0.2 + 0.32 * (income - 85528)

tax = round(tax, 0)

if tax<0:
    tax = 0

print("The tax is:", tax, "thalers")

Enter the annual income: 10000
The tax is: 1244.0 thalers

In [11]:
year = int(input("Enter a year: "))

if year < 1582:
    print("Not within the Gregorian calender period")
else :
    if year % 4 !=0 :
        print("common year")
    elif year % 100 !=0:
        print ("leap year")
    elif year % 400 !=0:
        print("common year")
    else :
        print("leap year")

Enter a year: 2025
common year

In [12]:
x = 5
y = 10
z = 8

print(x > y)
print(y > z)

False
True

In [13]:
x, y, z = 5, 10, 8

print(x > z)
print((y - 5) == x)

False
True

In [14]:
x = 10

if x == 10:
    print(x == 10)

if x > 5:
    print(x > 5)

if x < 10:
    print(x < 10)
else:
    print("else")

True
True
else

In [15]:
x = "1"

if x == 1:
    print("one")
elif x == "1":
    if int(x) > 1:
        print("two")
    elif int(x) < 1:
        print("three")
    else:
        print("four")

if int(x) == 1:
    print("five")
else:
    print("six")

four
five

In [16]:
x = 1
y = 1.0
z = "1"

if x == y:
    print("one")
if y == z:
    print("two")
    print(x)
    print(y)
elif x == y:
    print("three")
else:
    print("four")

one
three

In [17]:
secretNum = 777

guessNum = 0

while guessNum != secretNum:
    guessNum = int(input("Input angka rahasia untuk berhenti : "))
    if guessNum != secretNum:
        print("Perulangan akan terus lanjut...")

print("Well done, Congrats...")

Input angka rahasia untuk berhenti : 777
Well done, Congrats...

In [18]:
import time

for i in range(5):
    print(i," Missisipi")
    time.sleep(1)

0  Missisipi
1  Missisipi
2  Missisipi
3  Missisipi
4  Missisipi

In [20]:
while True:
    word = input("Masukkan Sebuah Kata untuk keluar dari perulangan = ")
    if(word=="ayam"):
        break

print("You've successfully left the loop")

Masukkan Sebuah Kata untuk keluar dari perulangan = ayam
You've successfully left the loop

In [21]:
# Prompt the user to enter a word
# and assign it to the userWord variable.
userWord = input("Masukkan sebuah kata = ")

for letter in userWord:
    if letter.upper() in ['A','I','U','E','O']:
        continue

    print(letter.upper())

Masukkan sebuah kata = ayam
Y
M

In [22]:
blocks = int(input("Enter the number of blocks: "))
current_block = 0
height = 0
i=0

while i<blocks:
    height += 1
    current_block += height
    # print(i,current_block)
    if current_block> blocks:
        break

height -= 1

print("The height of the pyramid:", height)

Enter the number of blocks: 6
The height of the pyramid: 3

In [23]:
for i in range(1, 11):
    if i % 2 !=0:
        print(i,end=' ')

1 3 5 7 9

In [24]:
x=1
while x<11:
    if x % 2 !=0:
        print(x,end=' ')
    x +=1

1 3 5 7 9

In [26]:
for ch in "umam@gmail.com":
    if ch == "@":
        break
    print(ch,end=' ')

u m a m

In [27]:
for digit in "0165031806510":
    if digit == "0":
        print ("x")
        continue
    print(digit)

x
1
6
5
x
3
1
8
x
6
5
1
x

In [28]:
# step 1
beatles = []
print("Step 1:", beatles)

# step 2
beatles.append("John Lennon")
beatles.append("Paul McCartney")
beatles.append("George Harrison")
print("Step 2:", beatles)

# step 3
for i in range(2):
    nama = input("Masukkan anggota baru = ")
    beatles.append(nama)
print("Step 3:", beatles)

# step 4
del beatles[-2:]
print("Step 4:", beatles)

# step 5
beatles.insert(0,"Ringo Starr")
print("Step 5:", beatles)


# testing list legth
print("The Fab", len(beatles))

Step 1: []
Step 2: ['John Lennon', 'Paul McCartney', 'George Harrison']
Masukkan anggota baru = agus
Masukkan anggota baru = badang
Step 3: ['John Lennon', 'Paul McCartney', 'George Harrison', 'agus', 'badang']
Step 4: ['John Lennon', 'Paul McCartney', 'George Harrison']
Step 5: ['Ringo Starr', 'John Lennon', 'Paul McCartney', 'George Harrison']
The Fab 4